.post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

/* .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
} */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 300px; /* Set the second column width to 300px */
    grid-gap: 20px;
    }