/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* styling for login and registration page */
.post-form-container, .post-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.post-form {
    padding-top: 1.5em;
}

.description {
    min-height: 200px;
    max-height: 500px;
    text-align: left;
    vertical-align: top;
}

.link, .courseName, .price, .description {
    max-width: 320px;
    min-width: 320px;
}