.modal {
    background-color: whitesmoke;
    border-radius: 10px;
}

.title {
    /* color: red; */
    /* text-align: center; */
    font-weight: bold;
    padding: 0.5rem;
}

.body {
    padding: 0.5rem;
}

.cancel-button {
    max-width: 150px;
    min-width: 150px;
    padding: 10px;
    margin: 10px;
    background-color:gray;
    color: white;
    font-size: smaller;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.delete-button2 {
    max-width: 150px;
    min-width: 150px;
    padding: 10px;
    margin: 10px;
    background-color:red;
    color: white;
    font-size: smaller;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.footer2 {
    display: inline-flex;
}