/* styling for search bar */
.search {
    width: 95%;
    font-size: 1rem;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 15px;
  }
  
  .search-input:focus {
    border-color: #ed6e2e;
    outline: none;
  }
  
  .search-button,
  .search-input {
    background-color: white;
    box-shadow: 0px 7px 15px -5px grey;
    border-style: solid;
    border-width: 1px;
  }
  
  .search-input {
    padding-left: 2em;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 100%;
    margin: 0px;
    border-color: lightgrey;
  }
  
  .search-button {
    width: 10%;
    color: #ed6e2e;
    display: grid;
    place-content: center;
    border-color: lightgrey;
  }

  .custom-select {
    border-radius: 0.5em;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: gray;
    padding: 0.25em 0.5em;
    border: 2px solid lightgray;
    margin-top: 0.5em;
    font-size: 100%;
    margin: 1rem;
}

.custom-select-container {
    display: inline;
}